.about {
  margin-top: 120px;
}

.about__main {
  flex: 1;
  max-width: 477px;

  h2 {
    color: $color-cerulean-blue;
    font-size: 50px;
    font-weight: 400;
    line-height: 50px;
    margin: 0;
  }

  p {
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
    margin: 0;
    margin-top: 30px;
  }
}

.about__secondary {
  flex: 1;
  max-width: 498px;

  h3 {
    color: $color-cerulean-blue;
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    margin: 0;
  }

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 0;
    margin-top: 46px;
  }
}

.about__container {
  display: flex;
  padding-right: 106px;
  justify-content: space-between;
}

.about__btn {
  margin-top: 40px;
}

.about__info {
  width: 100%;
  background-color: $color-cerulean-blue;
  border-radius: 20px;
  padding: 70px 106px;
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: $color-default-white;
  column-gap: 52px;
  row-gap: 54px;
}

.about__item {
  padding: 30px 60px;
  display: flex;
  border: 1px solid $color-default-white;
  border-radius: 16px;
  justify-content: space-between;
  align-items: center;
  position: relative;

  span {

    font-size: 26px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.26px;
    text-transform: uppercase;
  }

  p {
    margin: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    color: $color-alabaster;
  }

  &::after {
    content: "";
    background-color: $color-cerulean-blue;
    background-image: url("../img/icons/icon-star.svg");
    background-repeat: no-repeat;
    background-position: center center;
    width: 42px;
    height: 42px;
    position: absolute;
    top: -21px;
    left: -21px;
  }
}
