.conditions {
  margin-top: 120px;

  @include vp-1199 {
    margin-top: 100px;
  }

  @include vp-767 {
    margin-top: 67px;
  }
}

.conditions__wrapper {
  padding-top: 120px;
  padding-bottom: 107px;
  background-color: $color-cerulean-blue;
  color: $color-default-white;
  display: grid;
  grid-template-columns: 498px 498px;
  column-gap: 138px;

  @include vp-1199 {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
  }

  @include vp-767 {
    padding-top: 68px;
    padding-bottom: 67px;
  }
}

.conditions__main {
  h2 {
    font-size: 50px;
    font-weight: 400;
    line-height: 60px;
    margin: 0;

    @include vp-1199 {
      font-size: 34px;
      line-height: 50px;
    }

    @include vp-767 {
      font-size: 20px;
      line-height: 20px;
    }
  }

  p {
    margin: 0;
    margin-top: 24px;
    margin-bottom: 33px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

    @include vp-1199 {
      line-height: 20px;
      margin-top: 27px;
      margin-bottom: 35px;
      padding-right: 139px;
    }

    @include vp-767 {
      font-size: 14px;
      margin-top: 14px;
      margin-bottom: 25px;
      padding-right: 0;
    }
  }

  img {
    border-radius: 16px;
    height: 363px;
    object-fit: cover;

    @include vp-1199 {
      width: 100%;
      height: 375px;
    }

    @include vp-767 {
      height: 200px;
    }
  }
}

.conditions__info {
  margin-top: 9px;

  @include vp-1199 {
    margin-top: 46px;
  }

  @include vp-767 {
    margin-top: 35px;
  }

  h3 {
    margin: 0;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;

    @include vp-1199 {
      font-size: 28px;
      line-height: 28px;
    }

    @include vp-767 {
      font-size: 18px;
      line-height: 22px;
    }
  }
}

.conditions__list {
  display: flex;
  flex-direction: column;
  gap: 23px;
  padding: 0;
  margin: 0;
  margin-top: 55px;
  list-style: none;
  padding-left: 20px;
  counter-reset: conditions;

  @include vp-1199 {
    margin-top: 42px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 46px;
    row-gap: 25px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    margin-top: 26px;
    padding-left: 15px;
    gap: 15px;
  }
}

.conditions__list li {
  position: relative;
  padding: 22px 62px 22px 25px;
  padding-right: 62px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  border-radius: 16px;
  border: 1px solid $color-default-white;

  @include vp-1199 {
    padding: 25px 27px 25px 24px;
    line-height: 20px;
  }

  @include vp-767 {
    padding: 17px 24px 19px 24px;
    font-size: 14px;
    line-height: 20px;
  }

  &::after {
    counter-increment: conditions;
    content: counter(conditions);
    position: absolute;
    color: $color-default-white;
    width: 42px;
    height: 42px;
    background-color: $color-cerulean-blue;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -17px;
    left: -21px;
    font-weight: 500;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 0.22px;
    text-transform: uppercase;

    @include vp-1199 {
      font-size: 22px;
      top: -17px;
    }

    @include vp-767 {
      top: -7px;
      font-size: 18px;
      left: -13px;
      width: 26px;
      height: 32px;
    }
  }
}
