.contacts {
  background-color: $color-cerulean-blue;
  color: $color-default-white;
  padding-top: 120px;
  padding-bottom: 120px;
  margin-top: 120px;

  @include vp-1199 {
    padding-top: 100px;
    margin-top: 100px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    margin-top: 57px;
    padding-top: 69px;
    padding-bottom: 67px;
  }
}

.contacts__map-wrap {
  width: 100%;
  height: 500px;
  border-radius: 16px;

  @include vp-767 {
    height: 240px;
  }
}

.contacts__header {
  display: flex;
  padding-bottom: 31px;
  margin-bottom: 40px;
  border-bottom: 2px solid $color-default-white-opacity;
  justify-content: space-between;
  align-items: center;

  @include vp-1199 {
    flex-direction: column;
    align-items: start;
    padding-bottom: 25px;
    margin-bottom: 30px;
  }

  @include vp-767 {
    padding-bottom: 23px;
  }

  h2 {
    margin: 0;
    font-size: 50px;
    font-weight: 400;
    line-height: 50px;
    margin-bottom: 17px;

    @include vp-1199 {
      font-size: 34px;
      margin-bottom: 0;
    }

    @include vp-767 {
      font-size: 20px;
      line-height: 20px;
    }
  }
}

.contacts__list {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 51px;
  margin-left: 20px;

  @include vp-1199 {
    margin-top: 29px;
    gap: 0;
    justify-content: space-between;
    width: 100%;
  }

  @include vp-767 {
    flex-direction: column;
    gap: 12px;
    margin-top: 30px;
  }

  p {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

    @include vp-1199 {
      line-height: 20px;
      margin-top: 4px;
    }

    @include vp-767 {
      font-size: 14px;
      margin-top: 0;
    }
  }

  li {
    display: flex;
    flex-direction: column;
    gap: 15px;

    @include vp-767 {
      gap: 10px;
    }

    span:first-child {
      opacity: 0.8;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 400;
      line-height: 12px;
      letter-spacing: 0.12px;
    }
  }
}

.contacts__list a {
  border-bottom: 1px solid $color-transparent;
  color: $color-default-white;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;

  @include vp-767 {
    font-size: 14px;
    line-height: 20px;
  }

  @include hover-focus {
    border-color: $color-default-white;
  }

  @include active {
    border-color: $color-transparent;
    opacity: 0.8;
  }
}


.contacts__phone {
  min-width: 132px;
}
