.footer {
  padding-bottom: 50px;
  margin-top: 60px;

  @include vp-767 {
    margin-top: 29px;
    padding-bottom: 40px;
  }
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;

  @include vp-1199 {
    position: relative;
    gap: 0;
  }

  @include vp-767 {
    gap: 0;
    align-items: center;
    padding-bottom: 41px;
  }
}

.footer__logo {
  width: 52px;
  height: 52px;
  padding: 12px;
  background-color: $color-default-white;
  border-radius: 50%;

  svg {
    width: 28px;
    height: 28px;
  }
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include vp-1199 {
    flex-direction: column;
    align-items: end;
    width: 100%;
  }
}

.footer__menu {
  display: flex;
  align-items: center;
  gap: 52px;

  @include vp-1199 {
    justify-content: space-between;
    width: 100%;
  }

  @include vp-767 {
    flex-direction: column;
    gap: 14px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px;

    @include vp-1199 {
      gap: 13px;
    }

    @include vp-767 {
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 10px;
      column-gap: 29px;
    }
  }

  li {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

    @include vp-1199 {
      line-height: 20px;
      padding: 0 1px;
    }

    @include vp-767 {
      font-size: 14px;
    }
  }
}

.footer__social {
  display: flex;
  list-style: none;
  gap: 20px;

  @include vp-1199 {
    position: absolute;
    bottom: 0;
    gap: 10px;
  }

  @include vp-767 {
    left: 50%;
    transform: translateX(-50%);
  }
}

.footer__policy {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include vp-1199 {
    flex-direction: column-reverse;
    align-items: start;
    margin-top: 25px;
    gap: 11px;
  }

  @include vp-767 {
    margin-top: 16px;
    flex-direction: column-reverse;
    gap: 10px;
    align-items: center;
  }

  p {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    margin: 0;

    @include vp-1199 {
      opacity: 0.6;
      font-size: 12px;
      line-height: 12px;
    }

    @include vp-767 {
      font-size: 12px;
      line-height: 14px;
    }
  }

  a {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    border: 1px;
    border-bottom: 1px solid $color-charcoal;

    @include vp-1199 {
      font-size: 12px;
      line-height: 12px;
      padding-bottom: 1px;
    }

    @include vp-767 {
      font-size: 12px;
      line-height: 14px;
    }
  }
}
