
.form__wrapper {
  position: relative;
  border-radius: 16px;
  padding-top: 120px;
  max-width: 1440px;

  @include vp-1199 {
    padding-top: 100px;
  }

  @include vp-767 {
    padding-top: 67px;
  }

  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border-radius: 16px;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
}

.form__container {
  position: relative;
}

.form__content {
  position: relative;
  background-color: $color-cerulean-blue;
  max-width: 498px;
  min-height: 803px;
  padding: 81px 74px 51px;
  border-radius: 16px;
  z-index: 2;

  @include vp-1199 {
    padding: 60px 45px 50px;
    min-height: 780px;
    max-width: 442px;
  }

  @include vp-767 {
    padding: 50px 15px;
    min-height: 753px;
    max-width: 100%;
  }

  h3 {
    color: $color-default-white;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    margin: 0;

    @include vp-1199 {
      font-size: 28px;
      line-height: 28px;
    }

    @include vp-767 {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 0;
    }
  }

  p {
    margin: 0;
    color: $color-alabaster;
    margin-top: 26px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

    @include vp-1199 {
      font-size: 16px;
      line-height: 20px;
      margin-top: 28px;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 20px;
      margin-top: 17px;
    }
  }

  form {
    margin-top: 18px;

    @include vp-1199 {
      margin-top: 31px;
    }

    @include vp-767 {
      margin-top: 26px;
    }
  }
}

.form__fieldset {
  border: none;
  outline: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0;

  @include vp-767 {
    gap: 20px;
  }
}

.form__field-cities-select {
  display: none;
  position: absolute;
  width: 100%;
  flex-direction: column;
  z-index: 1;
  top: 80px;
}

.form__field {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @include vp-767 {
    gap: 12px;
  }

  span {
    color: $color-alabaster;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;

    @include vp-767 {
      font-size: 12px;
      line-height: 14px;
    }
  }

  input {
    background-color: $color-cerulean-blue;
    outline: none;
    border: 1px solid $color-default-white-opacity;
    border-radius: 8px;
    height: 50px;
    padding: 16px 25px;
    color: $color-default-white;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
  }

  textarea {
    background-color: $color-cerulean-blue;
    outline: none;
    border: 1px solid $color-default-white-opacity;
    border-radius: 8px;
    height: 99px;
    padding: 16px 25px;
    color: $color-default-white;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;

    @include vp-767 {
      height: 94px;
    }
  }
}

.form__policy {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 3px;

  @include vp-1199 {
    justify-content: flex-start;
  }

  @include vp-767 {
    align-items: start;
  }

  @include vp-adaptive-mobile {
    align-items: center;
  }

  span:last-child {
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    color: $color-default-white;
    cursor: pointer;

    @include vp-767 {
      line-height: 14px;
      margin-top: -3px;
    }
  }
}

.form__checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
  background-color: $color-cerulean-blue;
  border: 1px solid $color-default-white-opacity;
  cursor: pointer;

  &:disabled {
    border-color: $color-default-white;
    background-color: $color-default-white-opacity;
  }

  @include hover {
    outline: none;
    border-color: $color-default-white;
  }

  @include vp-767 {
    min-width: 20px;
  }
}

.form__input-checkbox {
  @include focus {
    &+.form__checkbox {
      outline: none;
      border-color: $color-default-white;
      background-color: $color-transparent;

      &::after {
        background-color: $color-default-white;
      }
    }
  }
}

.form__input-checkbox:checked + .form__checkbox {
  background-color: $color-default-white;
  border: 1px solid $color-default-white;
  position: relative;

  &:disabled {
    border-color: $color-mischka;
    background-color: $color-mischka;

    &::after {
      background-color: $color-default-white;
    }
  }

  @include hover {
    background-color: $color-transparent;

    &::after {
      background-color: $color-default-white;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mask-image: url("../img/icons/icon-check.svg");
    background-color: $color-cerulean-blue;
    mask-repeat: no-repeat;
    mask-size: contain;
  }
}

.form__btn {
  border-color: $color-default-white;
  width: 100%;
  gap: 0;
  margin-top: 40px;

  @include hover-focus {
    background-color: $color-default-white;

    span:first-child {
      color: $color-cerulean-blue;
    }

    span:last-child {
      background-color: $color-cerulean-blue;
    }

    svg {
      color: $color-default-white;
    }
  }

  @include vp-767 {
    margin-top: 28px;
    height: auto;
    padding-top: 4px;
  }

  span:first-child {
    color: $color-default-white;
    width: 100%;
    margin-right: 30px;

    @include vp-767 {
      font-size: 12px;
      line-height: 12px;
      letter-spacing: 0.24px;
      margin-right: 0;
    }
  }

  span:last-child {
    background-color: $color-default-white;
    padding: 18px;

    svg {
      color: $color-cerulean-blue;
    }

    @include vp-767 {
      width: 34px;
      height: 34px;
      padding: 12px;
    }
  }
}

.form__sity {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @include vp-1199 {
    margin-top: -2px;
    gap: 9px;
  }

  @include vp-767 {
    margin-top: 0;
    gap: 12px;
  }

  span {
    color: $color-alabaster;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;

    @include vp-767 {
      font-size: 12px;
      line-height: 14px;
    }
  }
}

.form__sity-wrap {
  background-color: $color-cerulean-blue;
  border: 1px solid $color-default-white-opacity;
  border-radius: 8px;
  height: 50px;
  color: $color-default-white;

  @include focus {
    outline: none;
    border: 1px solid $color-default-white;
  }
}

span.form__error,
span.modal__error {
  color: $color-wild-watermelon;
}

.field.is-invalid {
  input,
  textarea,
  .form__checkbox,
  .form__sity-wrap,
  .modal__sity-wrap,
  .modal__checkbox {
    background-color: rgba(255, 94, 102, 0.2);
    border-color: $color-wild-watermelon;
  }
}

.field {
  input,
  textarea,
  .form__sity-wrap,
  .modal__sity-wrap {
    &:disabled {
      opacity: 0.6;
      background-color: $color-default-white-opacity;
    }

    @include hover-focus {
      outline: none;
      border-color: $color-default-white;
    }

    @include active {
      border-color: $color-default-white;
    }
  }
}
