.header {
  padding-top: 20px;
  position: absolute;
  z-index: 9999;
  width: 100%;

  @include vp-1199 {
    padding-top: 29px;
  }

  @include vp-767 {
    padding-top: 21px;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;

  @include vp-767 {
    position: relative;
  }
}

.header__menu {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  z-index: 2;
  max-height: 100vh;
  padding-bottom: 20px;

  @include vp-767 {
    position: absolute;
    right: 15px;
  }
}

.header__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  border: 1px solid $color-cerulean-blue;
  background-color: $color-default-white;
  border-radius: 30px;
  padding: 4px 4px 4px 15px;
  transition: width $trans-default;

  @include vp-767 {
    padding: 2px 3px 2px 17px;
    gap: 17px;
  }

  span {
    color: $color-cerulean-blue;
    text-transform: uppercase;
    letter-spacing: 0.28px;
  }

  button {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: $color-cerulean-blue;
    outline: none;
    border: 1px solid $color-transparent;
    cursor: pointer;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      mask-image: url("../img/icons/icon-menu.svg");
      mask-repeat: no-repeat;
      mask-position: center center;
      background-color: $color-default-white;
      width: 18px;
      height: 10px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 1;
    }

    &::before {
      content: "";
      position: absolute;
      mask-image: url("../img/icons/btn-icon-cross.svg");
      mask-repeat: no-repeat;
      mask-position: center center;
      background-color: $color-cerulean-blue;
      width: 16px;
      height: 16px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
    }
  }
}

.header__logo {
  width: 52px;
  height: 52px;
  padding: 12px;
  background-color: $color-default-white;
  border-radius: 50%;

  svg {
    width: 28px;
    height: 28px;
  }
}


.header__button.is-active {
  background-color: $color-cerulean-blue;

  span {
    color: $color-default-white;
  }

  button {
    background-color: $color-default-white;

    &::after {
      opacity: 0;
    }

    &::before {
      opacity: 1;
    }
  }
}
