.hero {
  width: 100%;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: $color-default-white;
  position: relative;
  z-index: 3;
  padding-bottom: 60px;

  @include vp-1199 {
    padding-right: 64px;
  }

  @include vp-767 {
    padding-bottom: 20px;
  }

  h2 {
    margin: 0;
    font-size: 54px;
    color: $color-cerulean-blue;
    line-height: 62px;
    font-weight: 400;
    background-color: $color-default-white;
    padding: 40px 50px 30px;
    border-radius: 0 30px 30px 0;
    max-width: 968px;

    @include vp-1199 {
      font-size: 36px;
      line-height: 44px;
      padding: 30px 40px 26px;
    }

    @include vp-767 {
      font-size: 22px;
      line-height: 26px;
      border-radius: 0 16px 16px 0;
      padding: 20px 14px 16px;
    }
  }

  p {
    margin: 0;
    font-size: 16px;
    line-height: 26px;
    z-index: 1;
    color: $color-charcoal;
    padding-right: 30px;

    @include vp-1199 {
      line-height: 20px;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 20px;
      background-color: $color-default-white;
      padding: 0 14px 15px;
      border-radius: 0 0 14px 0;
      position: relative;
      max-width: none;
      max-width: 261px;

      &::after {
        position: absolute;
        content: "";
        width: 20px;
        height: 20px;
        right: -20px;
        top: 0;
        mask-image: url("../img/icons/icon-angle.svg");
        background-color: $color-default-white;
        background-repeat: no-repeat;
        transform: rotate(90deg);
      }
    }
  }
}

.hero__btn {
  padding-left: 30px;
  gap: 30px;

  @include vp-1199 {
    margin-top: 3px;
  }
}

.hero__descr {
  display: flex;
  position: relative;
  background-color: $color-default-white;
  border-radius: 0 0 30px 30px;
  padding: 0 50px 28px;
  color: $color-cerulean-blue;
  max-width: 772px;
  align-items: center;
  margin-top: -6px;

  @include vp-1199 {
    padding: 0 40px 32px;
    max-width: 591px;
    align-items: start;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: start;
    background-color: transparent;
    padding: 0;
    width: 100%;

    &::after {
      display: none;
    }
  }

  div {
    @include vp-767 {
      background-color: $color-default-white;
      padding: 10px 15px;
      border-radius: 0 0 14px 14px;
      position: relative;
    }

    &::after {
      @include vp-767 {
        position: absolute;
        content: "";
        width: 20px;
        height: 20px;
        right: -20px;
        top: 0;
        mask-image: url("../img/icons/icon-angle.svg");
        background-color: $color-default-white;
        background-repeat: no-repeat;
        transform: rotate(90deg);
      }
    }
  }

  &::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    right: -20px;
    top: 6px;
    mask-image: url("../img/icons/icon-angle.svg");
    background-color: $color-default-white;
    background-repeat: no-repeat;
    transform: rotate(90deg);
  }
}

.hero__slide {
  min-width: 100vw;
  background-size: cover;
  height: auto;
  position: relative;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @include vp-1199 {
    min-height: 1024px;
  }

  @include vp-767 {
    min-height: 568px;
  }

  &--internship {
    @include background-image("bg-internship", "backgrounds", "jpg");
  }

  &--volunteering {
    @include background-image("bg-volunteering", "backgrounds", "jpg");
  }

  &--exp {
    @include background-image("bg-exp", "backgrounds", "jpg");
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background-color: $overlay-photo;
    width: 100%;
    height: 100%;
  }
}

.hero__container {
  display: flex;
  align-items: stretch;
}

.hero .swiper-pagination {
  position: relative;
  background-color: $color-default-white;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  width: 94px;
  height: 38px;
  border-radius: 20px 20px 0 0;
  bottom: 0;

  @include vp-767 {
    width: 80px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    right: -20px;
    bottom: 0;
    mask-image: url("../img/icons/icon-angle.svg");
    background-repeat: no-repeat;
    background-color: $color-default-white;
  }
}

.hero .swiper-pagination-bullet {
  margin: 0;
  width: 10px;
  height: 10px;
  border: 1px $color-cerulean-blue solid;
  border-radius: 50%;
  background-color: transparent;
  opacity: 1;
  cursor: pointer;
}


.hero .swiper-pagination-bullet-active {
  background-color: $color-cerulean-blue;
}
