.menu.is-closed {
  height: 0;
  width: 0;
  opacity: 0;
  visibility: hidden;
  padding: 0;
  margin: 0;
  transition: width $trans-default, max-height $trans-default, opacity $trans-default, visibility $trans-default, margin-top $trans-default;
}

.menu.is-opened {
  width: 286px;
  max-height: auto;
  opacity: 1;
  visibility: visible;
  transition: width $trans-default, max-height $trans-default, opacity $trans-default, visibility $trans-default, margin-top $trans-default;

  @include vp-767 {
    width: 290px;
    padding-left: 23px;
  }
}

.menu__wrapper {
  display: flex;
  flex-direction: column;
  gap: 21px;
  height: auto;
  overflow: hidden;
  padding: 31px 0;

  @include vp-767 {
    padding-top: 33px;
  }
}

.menu__item {
  display: flex;

  a {
    @include hover-focus {
      outline: none;
      color: $color-default-white;
      opacity: 1;
    }
  }
}

.menu {
  overflow: scroll;
  border: 1px solid $color-cerulean-blue;
  border-radius: 16px;
  background-color: $color-cerulean-blue;
  padding: 0 25px;
  margin-top: 4px;

  a {
    color: $color-default-white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.32px;
    opacity: 0.7;
  }
}

.overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $overlay-form;
  z-index: -1;
}


.is-open-menu {
  overflow: hidden;
}
