.news {
  margin-top: 120px;

  @include vp-1199 {
    margin-top: 98px;
  }

  @include vp-767 {
    margin-top: 68px;
  }
}

.news__container {
  margin-top: 40px;

  @include vp-1199 {
    margin-top: 30px;
  }

  @include vp-767 {
    margin-top: 24px;
  }
}

.news__wrapper {
  @include vp-767 {
    overflow: visible;
  }

  h2 {
    margin: 0;
    font-size: 50px;
    font-weight: 400;
    line-height: 60px;
    color: $color-cerulean-blue;
    text-align: center;

    @include vp-1199 {
      font-size: 34px;
      line-height: 50px;
    }

    @include vp-767 {
      font-size: 20px;
      line-height: 20px;
    }
  }
}

.news__tabs {
  display: flex;
  gap: 28px;
  justify-content: center;
  margin-top: 40px;

  @include vp-1199 {
    margin-top: 32px;
    gap: 8px;
  }

  @include vp-767 {
    overflow: scroll;
    justify-content: flex-start;
    margin-right: -15px;
    gap: 12px;
    margin-top: 27px;
  }
}

.news__btn {
  padding: 11px 26px;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  color: $color-cerulean-blue;
  background-color: $color-transparent;
  outline: none;
  border-radius: 20px;
  border: 1px solid $color-transparent;
  cursor: pointer;
  opacity: 0.6;

  @include hover-focus {
    outline: none;
    opacity: 1;
  }

  @include vp-1199 {
    padding: 11px 20px;
  }

  @include vp-767 {
    padding: 8px 13px;
    font-size: 12px;
    line-height: 12px;
  }

  &.is-active {
    border: 1px solid $color-cerulean-blue;
    opacity: 1;
  }
}

.news__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 40px;

  @include vp-1199 {
    margin-top: 30px;
  }

  @include vp-767 {
    margin-top: 24px;
  }
}

.news__pagination.swiper-pagination {
  bottom: 0;
  gap: 12px;
  display: flex;
  justify-content: flex-start;
  position: initial;
  width: auto;

  @include vp-767 {
    gap: 16px;
  }
}

.news__pagination .swiper-pagination-bullet {
  min-width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid $color-transparent;
  background-color: transparent;
  color: $color-cerulean-blue;
  opacity: 0.5;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;

  @include hover-focus {
    opacity: 1;
    border-color: $color-cerulean-blue;
  }

  @include active {
    background-color: $color-endeavuor;
    border-color: $color-endeavuor;
    color: $color-default-white;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 14px;
    min-width: 26px;
    height: 26px;
  }
}

.news__pagination .swiper-pagination-bullet-active {
  background-color: $color-cerulean-blue;
  color: $color-default-white;
  opacity: 1;
}

.slide-grid {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px;

  @include vp-767 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.slide-grid .news-card:first-child {
  @include vp-1199 {
    order: 1;
  }

  @include vp-767 {
    order: 1;
  }
}

.slide-grid .news-card:last-child {
  @include vp-1199 {
    order: 2;
  }

  @include vp-767 {
    order: 1;
  }
}

.slide-grid .news-card:nth-last-child(2) {
  @include vp-1199 {
    order: 4;
  }

  @include vp-767 {
    order: 1;
  }
}

.slide-grid .news-card:nth-child(2) {
  @include vp-1199 {
    order: 3;
  }

  @include vp-767 {
    order: 1;
  }
}
