.programs {
  margin-top: 120px;

  @include vp-1199 {
    margin-top: 98px;
  }

  @include vp-767 {
    margin-top: 67px;
  }
}

.programs__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 44px;

  @include vp-1199 {
    margin-bottom: 39px;
  }

  @include vp-767 {
    margin-bottom: 30px;
  }

  h2 {
    margin: 0;
    font-size: 50px;
    font-weight: 400;
    line-height: 57px;
    color: $color-cerulean-blue;

    @include vp-1199 {
      font-size: 34px;
      line-height: 50px;
    }

    @include vp-767 {
      font-size: 20px;
      line-height: 20px;
    }
  }
}

.programs__slider.swiper {

  @include vp-1199 {
    overflow: visible;
  }

  @include vp-767 {
    overflow: hidden;
  }
}

.programs__container {
  display: flex;
}

.programs__card {
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 280px 51px 20px 20px;
  border-radius: 12px;
  position: relative;

  @include vp-1199 {
    padding-right: 41px;
    padding-top: 285px;
    max-width: 324px;
    padding-bottom: 19px;
    height: 420px;

  }

  @include vp-767 {
    padding: 271px 10px 18px;
  }

  &--internship {
    @include background-image("program-internship", "program");
  }

  &--volunteering {
    @include background-image("program-volunteering", "program");
  }

  &--studies {
    @include background-image("program-studies", "program");
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $overlay-photo;
    top: 0;
    left: 0;
    border-radius: 12px;
    z-index: 1;
  }
}

.programs__inner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 2;
}

.programs__inner-main {
  background-color: $color-default-white;
  padding: 12px 18px 3px;
  width: 194px;
  border-radius: 12px 12px 0 0;
  position: relative;

  @include vp-1199 {
    padding: 12px 11px 1px 18px;
    width: 173px;
  }

  h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
    color: $color-cerulean-blue;
    margin: 0;

    @include vp-1199 {
      font-size: 20px;
      line-height: 24px;
      width: min-content;
    }
  }

  &::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    right: -20px;
    bottom: 0;
    mask-image: url("../img/icons/icon-angle.svg");
    background-repeat: no-repeat;
    background-color: $color-default-white;
  }
}

.programs__inner-descr {
  display: flex;
  background-color: $color-default-white;
  padding: 10px 18px 15px;
  border-radius: 0 12px 12px 12px;
  align-items: center;
  gap: 15px;
  min-height: 80px;

  @include vp-1199 {
    padding-top: 5px;
    padding-bottom: 10px;
    min-height: 79px;
  }

  p {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;

    @include vp-1199 {
      line-height: 20px;
    }
  }
}

.programs__inner-btn {
  background-color: $color-cerulean-blue;
  width: 30px;
  height: 30px;
  padding: 11px;
  border-radius: 50%;
  display: flex;

  svg {
    color: $color-default-white;
  }
}

.programs__buttons {
  position: relative;
  position: relative;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
  margin-top: 38px;

  @include vp-1199 {
    margin-top: 39px;
  }

  @include vp-767 {
    position: absolute;
    margin-top: 0;
    top: 0;
    right: 15px;
  }
}

.programs__line {
  position: absolute;
  height: 2px;
  width: calc(100% - 106px);
  background-color: $color-cerulean-blue-opacity;
  left: 0;

  @include vp-767 {
    display: none;
  }
}


.programs__inner-line {
  height: 2px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: $color-cerulean-blue;
  transition: width 0.2s ease;
}

.btn__next,
.btn__prev {
  width: 22px;
  height: 22px;
  padding: 6px;
  background-color: $color-transparent;
  outline: none;
  border: none;
  display: flex;
  cursor: pointer;
}

.programs__btn {
  @include vp-767 {
    position: absolute;
    bottom: 0;
    padding-left: 30px;
  }
}


.programs__wrapper {
  @include vp-767 {
    position: relative;
    padding-bottom: 72px;
  }
}
